/*"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""CSS RESET"""""""""""""""""""""""""""""""""""""""
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	 display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*------------ BODY ----------------------------------------------------------*/

body, header, html{
  width: 100%;
  height: 100%;
}

.bg_image, .bg_image_page{
  width: 100%;
  height: 100%;
	background: url("../img/header.jpg") no-repeat center center;
	background-size: cover;
	margin-bottom: 30px;
}



/*------------ DISPLAY -------------------------------------------------------*/
.hidden{
  display: none;
}

.flex{
  display: flex;
}

.flex_center{
	display: flex;
	justify-content: center;
}

.flex_column{
	flex-direction: column;
}

.flex_end{
	display:flex;
	align-items: flex-end;
}

.align_mid_row_element{
	align-items: center;
	justify-content: center;
	padding-bottom: 40px;
}

/*------------ FONT ----------------------------------------------------------*/

.titillium{
  font-family: 'Titillium Web', sans-serif;
}

.allerta{
  font-family: 'Allerta Stencil', sans-serif;
}

.barlow{
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.white{
  color: #F7F9F9;
}

.grey{
	color: #4a4a4a;
}

.black{
  color : #323031
}

.yellow{
  color : #FCB42F;
}

.light_yellow{
  color: #F4D35E;
}

.argile{
  color : #C9CBA3;
}

.text_shadow{
  text-shadow: 1px 1px 10px rgba(50, 48, 49, 05)
}

.texte_center{
  text-align: center;
}

.uppercase{
  text-transform: uppercase;
}

.bold{
  font-weight: bold;
}

.italic{
  font-style: italic;
}

.big{
	font-size: 1.5em;
}

.yellow_hover:hover{
	  color: #F4D35E;
}

/*------------ TITLES / TEXTE --------------------------------------------------------*/

h1{
  font-size: 2.2em;
  float: right;
}

h6{
	font-size: 0.8em;
}

.title_section{
  font-size: 2em;
  margin-bottom: 50px;
}

.texte_spaced{
	line-height: 30px;
}

.title_list_header{
	font-size: 1.7em;
}

.claim_texte_spaced{
	line-height: 45px;
}

.claim_font_size{
	font-size: 2em;
}




/*------------ BORDURE ET BACKGROUND -------------------------------------------*/

.no_border_hover:hover{
	border-bottom: 0!important;
	text-decoration : none;
}

.bloc_border{
	background-color: #C9CBA3;
  border-radius: 4px;
}

.border_argile{
  border : 1.6px #C9CBA3 solid;
  background-color: #C9CBA3;
  border-radius: 4px;
}

.border_black{
	border : 1.6px #323031 solid;
	background-color: #323031;
	border-radius: 4px;
}

.border_yellow_light{
  border : 1.6px #F4D35E solid;
  background-color: #F4D35E;
  border-radius: 4px;
  box-shadow: 0 0 10px #F4D35E;
}

.border_dotted_argile{
	border-top: 2px #C9CBA3 dotted;
}

.no_box_shadow{
	border: 0!important;
	box-shadow: none!important;
}


.inputSelector:focus{
  outline: none !important;
  border-color: #FCB42F;
  box-shadow: 0 0 10px #F4D35E;
}

.underline_yellow_title{
  border-bottom: 6px #FCB42F double;
}

.underline_black{
  border-bottom: 2px #323031 solid;
}

.underline_yellow_light{
  border-bottom: 2px #F4D35E solid;
}

.bg_transparent{
	background-color: rgba(0,0,0,0);
	border: 0;
}

.bg_black{
	background-color: #323031
}

.bg_yellow{
	background-color: #FCB42F;
}

.bg_white{
	background-color: white;
}

.bg_argile{
	background-color: #C9CBA3;
}

.bg_grey_light{
	background-color: #F7F9F9;
}

.bloc_row{
	padding-top: 				50px;
	justify-content: 		center;
	margin-top: 				0;
	margin-bottom: 			0;
	height: 						135px;
}

/*------------ ICONES / IMAGES------------------------------------------------*/

.i_header{
  position: absolute;
  right: 15px;
  top : 6px;
  font-size: 1.5em;
  text-align: right;
  display: none;
}

.i_benefits{
	width: 30%;
	display: block;
	margin: auto;
	padding-bottom: 22px;
}

.i_contact{
	border-radius: 3px;
}

.i_social{
	margin : 5px 0;
	font-size: 1.5em;
}

.i_space{
	padding-right: 10px;
	padding-top: 5px;
}

.i_benefits_freelance{
	width: 20%;
	display: block;
	margin: auto;
	padding-bottom: 22px;
}


/*------------ TEXTE COUVERTURE ----------------------------------------------*/

.header_title {
    font-size: 3em;
    position: absolute;
    margin-top: 160px;
    display : table;
    width: 100%;
    height: 100%;
}

.header_selector{
  position: absolute;
  justify-content: space-around;
  width: 100%;
  margin-top: 290px;
}

.inputSelector{
  width: 400px;
  height: 45px;
  border-radius: 20px;
}

.button_header, .button_header_pages{
  height: 45px;
  padding: 9px 84px;
}

.button_header:hover, .button_header_pages:hover{
  color: #323031;
  border: 1px #323031 solid;
  border-radius: 20px;
  text-decoration:none;
}

.header_content {
    position: absolute;
    width: 60%;
    margin-top: 256px;
		margin-left: 40px;
}

.button_header_pages{
    margin-top:20px;
    margin-left: 55px;
}

.list_header{
	width: 100%;
	margin-left: 40px;
	padding: 15px;
}



/*------------ LOGO ----------------------------------------------------------*/
.logo{
  width: 30px;
  margin-top: 5px;
}

/*------------ BARRE DE NAVIGATION -------------------------------------------*/
.header_menu{
  position: absolute;
  padding-left: 15px;
}

.menu_metiers{
  margin : 15px 0 0 40px;
  font-size: 1em;
}
nav{
  margin : 15px 10px 0 340px;
}
nav a{
  font-size: 1em;
  margin-left: 25px;
  padding: 4px;
}

nav a:hover, a:hover{
  color: #323031;
  border-bottom: 4px #FCB42F double;
  text-decoration:none;
  /* text-decoration-style: double;
  text-decoration-color: #FCB42F;
  text-underline-offset: 1em; */
}

.nav_space{
	margin-left: 195px;
}

/*--------------------------- MAIN -------------------------------------------*/

.button_section{
	position: absolute;
	right: 40px;
	margin-top: 15px;
}

.section_colored{
	padding-top: 30px;
	height: 100%;
	margin-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.section_spaced{
	padding-top: 30px;
}

.section_no_margin_top{
	margin-top: -30px;
}

.btn-page{
	text-decoration: none;
	border-bottom: 0 !important;
}

.bloc_space_around{
	justify-content: space-around;
}

.nowrap{
	flex-wrap: nowrap!important;
}

.card_half_place{
	width: 50%;
}

/*------------------- PROFILES -----------------------*/

.button_argile{
  line-height: 0 !important;
  height: 30px;
  padding: 4px 7px;
  margin-top: 25px
}

.button_argile:hover, .button_join:hover{
  color: #323031;
  border: 1px #323031 solid;
  text-decoration:none;
}

.card_profil{
  line-height: 45px;
}



/*--------------- AVANTAGES -----------------------*/

.card_benefits{
	margin-top: -20px;
}

/*--------------- ETAPES / NOMBRES -----------------------*/
.number{
	display: 							block;
	border-radius: 				20px;
	width: 								40px;
	height: 							40px;
	margin: 							10px auto;
	min-width: 						0em;
	padding: 							0.50rem 0.5rem;
}

.number_argile{
	background-color: #C9CBA3 !important;
}

.number_yellow{
	background-color: #FCB42F !important;
}

.card_number p{
	text-align: center;
	width: 80%;
	margin: auto;
}


/*--------------- PRESSE -----------------------*/

.card_presse{
	height: 154px;
}

.signature{
	line-height: 53px;
	font-size: 0.8em;
}

.quote{
	font-size: 0.9em;
}

/*--------------- CTA NOUS REJOINDRE -----------------------*/

.claim_join{
	width: 60%;
	position: absolute;
	z-index: 2;
	padding-top: 20px;
}

.button_join{
	height: 				35px;
  padding: 				9px 65px;
	margin: 				20px auto;
}



/*--------------- CONTACT -----------------------*/

.button_devis{
	margin-top: 10px !important;
	height: 20px;
}

/*--------------- FOOTER -----------------------*/

.footer_section{
	border-top: 4px #FCB42F double;
	height: 30px;
	padding: 6px;
}

.footer_subtitle{
	justify-content: space-around;
}





/*--------------------------- RESPONSIVE ------------------------------------*/

/*------------ ECRAN iPad Pro <1366px ------------------------------------*/

@media screen and (max-width:1366px){

    .bg_image_page{
        height: 100%;
    }

/*------------ ECRAN <1224px ------------------------------------*/


@media screen and (min-width: 1120px) and (max-width: 1240px){
  nav{
    margin : 15px 10px 0 200px;
  }
	.btn_eatCode{
		width: 100%;
		margin: auto;
		height: 30px;
		font-size: 0.9em;
		padding: 0;
	}

	.card_content_contact{
		font-size: 0.8em;
	}
}

/*------------ ECRAN <1120px ------------------------------------*/


@media screen and (max-width:1120px){

	.section_colored{
		height: 80%;
	}

	.bg_image{
		height: 30vh;
	}

    .bg_image_page{
        height: 60vh!important;
    }

	.section_center_responsive {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
	}

  /*------------ HEADER ------------------*/
  nav{
    display: none;
  }

  .i_header{
    display: inline;
  }

  .header_title{
    margin-top: 120px;
    font-size: 1.9em;
    font-weight: bold;
  }

  .header_selector{
  margin-top: 210px;
  display: table-cell;
  align-items: center;
	}

  .inputSelector{
    margin-bottom: 10px;
    height: 35px;
  }

  .buttonSearch{
    height: 35px;
  }

  .header_content{
    margin-top: 185px;
    margin-left: 40px;
    font-size: 1em;
    }

  .button_header_pages{
    height: 35px;
    padding: 3px 50px;
    }

  .big{
        font-size: 1.3em;
    }

	.claim_font_size{
		font-size: 1.7em;
	}


	/*------------ SECTION PROFILES ----------*/
	.btn_eatCode{
		width: 100%;
		margin: auto;
		height: 30px;
		font-size: 0.9em;
		padding: 0;
	}
	.button_section{
		position: absolute;
		left: 25px;
		margin-top: 53px;
		margin-left: -9px;
	}

	.title_section{
		width: 100%;
		font-size: 1.9em;
	}


	/*------------ SECTION AVANTAGES --------*/

	.card_benefits{
		padding-top: 40px;
		padding-bottom: 0;
	}

	/*------------ SECTION ETAPES-------------*/
	.card_number{
		display: inline-flex;
	}



	/*------------ SECTION CONTACT-------------*/

	.card_content_contact{
		font-size: 0.8em;
	}

	.card_half_place{
		width: 50%;
	}

	.button_devis{
		height: 30px;
		font-size: 0.8em;
	}

	.i_hidden{
		display: none;
		width: 0%
	}

	/*------------ FOOTER-------------*/
	.footer_subtitle{
		font-size: 0.8em;
	}
}


/*------------ ECRAN MOBILE <769px ----------------------------*/


@media screen and (max-width:769px){

	.section_center_responsive{
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
	}

	.align_content_center_responsive{
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
		line-height: 20px;
	}

/*------------ HEADER --------*/

	.bg_image{
		height: 60%;
	}

	.claim_font_size{
		font-size: 1.4em;
	}

	.claim_texte_spaced{
		line-height: 30px;
	}

/*------------ SECTION AVANTAGES --------*/
	.section_colored{
		height: 80%;
	}

	.title_section_out{
	  padding-bottom: 30px;
	}

	.button_recruteur{
		padding-top: 30px;
		margin-left: -6px;
	}

	.button_section_out{
		margin-top: 80px;
		margin-left: -9px;
	}

/*------------ SECTION ETAPES ----------*/

	.card_number{
	display: inline-flex;
	}

/*------------ SECTION PRESSE ----------*/

	.card_presse{
		height: 480px;
	}

/*------------ SECTION CONTACT ----------*/

	.card_content_contact{
		padding-top: 5px!important;
		font-size: 0.6em;
	}

	.button_devis{
		margin-top: -5px !important;
		box-shadow: none!important;
		width: 80%;
		height: 20px;
	}

	.card_content_address{
		padding-left: 0px !important;
		padding-right: 0px !important;
		margin-right: 30px !important;
		width: 100% !important;
	}

	.card_half_place{
		width: 50%!important;
	}

	.i_social{
		margin : 2px 0;
		font-size: 0.9em!important;
	}

	.margin_center{
		margin: auto;
	}

/*------------ FOOTER ----------*/

	.footer_subtitle{
		font-size: 0.7em;
	}

	.responsive_white{
		color: #F7F9F9;
	}

	.footer_section{
		height: 100%;
	}
}

/*------------ ECRAN <420px ------------------------------------*/


@media screen and (max-width:420px){
	h2{
		font-size: 0.8em;
	}
