/*"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""CSS RESET"""""""""""""""""""""""""""""""""""""""
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	 display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*------------ BODY ----------------------------------------------------------*/

body, header, html{
  width: 100%;
  height: 100%;
color : #4a4a4a;
}

.bg_image{
  width: 100%;
  height: 600px;
	background: url("../img/header.jpg") no-repeat center center;
	background-size: cover;
	margin-bottom: 30px;
}




/*------------ DISPLAY -------------------------------------------------------*/
.hidden{
  display: none;
}

.flex{
  display: flex;
}

.flex_center{
	display: flex;
	justify-content: center;
}

.flex_column{
	display: flex;
	flex-direction: column;
}

.flex_end{
	display:flex;
	align-items: flex-end;
}

.align_mid_row_element{
	align-items: center;
	justify-content: center;
	padding-bottom: 40px;
}

.fixed{
    position: fixed;
}

.opacity_activated{
    opacity: 0.2;
}

/*------------ MARGIN / PADDING ----------------------------------------------------------*/
.pb-0{
    padding-bottom: 0;
}

.mt-20{
    margin-top: 20px;
}

.mb-20{
   margin-bottom: 20px;

}

/*------------ FONT ----------------------------------------------------------*/

.titillium{
  font-family: 'Titillium Web', sans-serif;
}

.allerta{
  font-family: 'Allerta Stencil', sans-serif;
}

.barlow{
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.white{
  color: #F7F9F9;
}

.grey{
	color: #4a4a4a;
}

.black{
  color : #323031
}

.yellow{
  color : #FCB42F;
}
.blue{
    color: #007bff;
}
.light_yellow{
  color: #F4D35E;
}

.argile{
  color : #C9CBA3;
}

.red{
    color: #dc3545;
}

.text_shadow{
  text-shadow: 1px 1px 10px rgba(50, 48, 49, 05)
}

.texte_center{
  text-align: center;
}

.uppercase{
  text-transform: uppercase;
}

.bold{
  font-weight: bold;
}

.italic{
  font-style: italic;
}

.italic_hover:hover{
    font-style: italic;
}

.mini_font{
    font-size: 0.8em;
}

.little_font{
    font-size: 1em;
}
.big{
	font-size: 1.5em;
}

.middle_font{
	font-size: 1.2em;
}

.yellow_hover:hover{
	  color: #F4D35E;
}

/*------------ TITLES / TEXTE --------------------------------------------------------*/

h1{
  font-size: 2.2em;
  float: right;
}

h6{
	font-size: 0.8em;
}

.title_section{
  font-size: 2em;
  margin-bottom: 50px;
}

.texte_spaced{
	line-height: 30px;
}

.title_list_header{
	font-size: 1.7em;
}

.claim_texte_spaced{
	line-height: 45px;
}

.claim_font_size{
	font-size: 2em;
}




/*------------ BORDURE ET BACKGROUND -------------------------------------------*/

.no_border_hover:hover{
	border-bottom: 0!important;
	text-decoration : none;
}

.bloc_border{
  border-radius: 4px;
}

.border_argile{
  border : 1.6px #C9CBA3 solid;
  background-color: #C9CBA3;
  border-radius: 4px;
}

.border_grey_light{
  border : 1.6px #F7F9F9 solid;
  background-color: #F7F9F9;
  border-radius: 4px;
}

.border_black{
	border : 1.6px #323031 solid;
	background-color: #323031;
	border-radius: 4px;
}

.border_blue{
	border : 1.6px #007bff solid;
	background-color: #007bff;
	border-radius: 4px;
}

.border_yellow_light{
  border : 1.6px #F4D35E solid;
  background-color: #F4D35E;
  border-radius: 4px;
  box-shadow: 0 0 10px #F4D35E;
}

.border_dotted_argile{
	border-top: 2px #C9CBA3 dotted;
}


.border_dotted_yellow_light{
	border-top: 2px #F4D35E dotted;
}

.border_dotted_black {
   border-top: 2px #323031 dotted; 
}

.no_box_shadow{
	border: 0!important;
	box-shadow: none!important;
}


.inputSelector:focus{
  outline: none !important;
  border-color: #FCB42F;
  box-shadow: 0 0 10px #F4D35E;
}

.underline_yellow_title{
  border-bottom: 6px #FCB42F double;
}

.underline_black{
  border-bottom: 2px #323031 solid;
}

.underline_yellow_light{
  border-bottom: 2px #F4D35E solid;
}

.bg_transparent{
	background-color: rgba(0,0,0,0);
	border: 0;
}

.bg_black{
	background-color: #323031
}

.bg_yellow{
	background-color: #FCB42F;
}

.bg_yellow_light{
	background-color: #F4D35E;
}

.bg_white{
	background-color: white;
}

.bg_argile{
	background-color: #C9CBA3;
}

.bg_grey_light{
	background-color: #F7F9F9;
}

.bloc_row{
	padding-top: 				50px;
	justify-content: 		center;
	margin-top: 				0;
	margin-bottom: 			0;
	height: 						135px;
}

/*------------ ICONES / IMAGES------------------------------------------------*/

.i_header{
  position: absolute;
  right: 15px;
  top : 6px;
  font-size: 1.5em;
  text-align: right;
  display: none;
}

.i_benefits{
	width: 30%;
	display: block;
	margin: auto;
	padding-bottom: 22px;
}

.i_contact{
	border-radius: 3px;
}

.i_social{
	margin : 5px 0;
	font-size: 1.5em;
}

.i_space{
	padding-right: 10px;
	padding-top: 5px;
}

.i_benefits_freelance{
	width: 20%;
	display: block;
	margin: auto;
	padding-bottom: 22px;
}

.i_cross{
    float: right;
    font-size: 15px;
}


/*------------ TEXTE COUVERTURE ----------------------------------------------*/

.header_title {
    font-size: 3em;
    position: absolute;
    margin-top: 160px;
    display : table;
    width: 100%;
    height: 100%;
}

.header_selector{
  position: absolute;
  justify-content: space-around;
  width: 100%;
  margin-top: 290px;
}

.inputSelector{
  width: 400px;
  height: 45px;
  border-radius: 20px;
}

.button_header, .button_header_pages{
  height: 45px;
  padding: 9px 84px;
}

.button_header:hover, .button_header_pages:hover{
  color: #323031;
  border: 1px #323031 solid;
  border-radius: 20px;
  text-decoration:none;
}

.header_content {
    position: absolute;
    width: 100%;
    margin-top: 256px;
		margin-left: 40px;
}

.button_header_pages{
    margin-top:20px;
    margin-left: 55px;
}

.list_header{
	width: 100%;
	margin-left: 40px;
	padding: 15px;
}

.header_subtitle{
    position:       absolute;
    margin-top:     260px;
    display :       table;
    width:          100%;
    height:         100%;
}

.input_space{
    padding-top: 10px;
    padding-bottom: 10px;
}

/*------------ LOGO ----------------------------------------------------------*/
.logo{
  width: 30px;
  margin-top: 5px;
}

/*------------ BARRE DE NAVIGATION -------------------------------------------*/
.header_menu{
  position: absolute;
  padding-left: 15px;
}

.menu_metiers{
  margin : 15px 0 0 40px;
  font-size: 1em;
}
nav{
  margin : 15px 10px 0 340px;
}
nav a{
  font-size: 1em;
  margin-left: 25px;
  padding: 4px;
}

nav a:hover, a:hover{
  color: #323031;
  border-bottom: 4px #FCB42F double;
  text-decoration:none;
  /* text-decoration-style: double;
  text-decoration-color: #FCB42F;
  text-underline-offset: 1em; */
}

.nav_space{
	margin-left: 130px;
}

/*--------------------------- MAIN -------------------------------------------*/

.button_section{
	position: absolute;
	right: 40px;
	margin-top: 15px;
}

.section_colored{
	padding-top: 30px;
	height: 100%;
	margin-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.section_uncolored{
	padding-top: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.section_spaced{
	margin-top: 50px;
    padding-top: 30px;
}

.section_no_margin_top{
	margin-top: -30px;
}

.btn-page{
	text-decoration: none;
	border-bottom: 0 !important;
}

.bloc_space_around{
	justify-content: space-around;
}

.bloc_space_between{
	justify-content: space-between;
}

.nowrap{
	flex-wrap: nowrap!important;
}

.card_half_place{
	width: 50%;
}


/*------------------- PROFILES -----------------------*/

.button_argile{
  line-height: 0 !important;
  height: 30px;
  padding: 4px 7px;
  margin-top: 25px
}

.button_argile:hover, .button_join:hover{
  color: #323031;
  border: 1px #323031 solid;
  text-decoration:none;
}

.card_profil{
  line-height: 45px;
}



/*--------------- AVANTAGES -----------------------*/

.card_benefits{
	margin-top: -20px;
}

/*--------------- ETAPES / NOMBRES -----------------------*/
.number{
	display: 							block;
	border-radius: 				20px;
	width: 								40px;
	height: 							40px;
	margin: 							10px auto;
	min-width: 						0em;
	padding: 							0.50rem 0.5rem;
}

.number_argile{
	background-color: #C9CBA3 !important;
}

.number_yellow{
	background-color: #FCB42F !important;
}

.card_number p{
	text-align: center;
	width: 80%;
	margin: auto;
}


/*--------------- PRESSE -----------------------*/

.card_presse{
	max-width: 540px;
    margin-bottom: 15px;
    height: 100%;
}

.signature{
	margin-top: 45px;
    padding-bottom: 5px;
	font-size: 0.8em;
}

.quote{
	font-size: 0.9em;
}

/*--------------- PAGE PROFIL -----------------------*/

.button_cadenas{
  line-height: 17px;
  height: 45px;
  padding: 4px 50px;
  margin-top: 25px
}

.bloc_cadenas{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(175,188,152,0.95)
}

.content_mask_cadenas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 1.5vw;
    border: 1px dashed solid #C9CBA3;
    
}


/*--------------- CTA NOUS REJOINDRE -----------------------*/

.claim_join{
	width: 60%;
	position: absolute;
	z-index: 2;
	padding-top: 20px;
}

.button_join{
	height: 				35px;
  padding: 				9px 65px;
	margin: 				20px auto;
}

/*--------------- CTA NOUS REJOINDRE -----------------------*/

.button_profil_page{
    height: 				35px;
  padding: 				9px 13px;
	margin: 				20px auto;
    margin-right:           25px;
}
/*--------------- MODAL -----------------------*/

.modal_fixed{
    position: fixed;
    top:0;
    z-index: 900;
	justify-content: 		    center;
}

.modal_box{
    width: 60%;
	padding-top:                10px;
	height: 					100%;
    margin-top: 				30px;
	margin-bottom: 			    30px;
    border: 3px #323031 double;
    box-shadow: 0 0 10px 0 #323031;
}

.modal_textarea{
        width: 89%;
        padding: 10px;
        height: 100px;
        border-radius: 10px;        
}

.modal_subtitle{
    padding-top: 15px;
    padding-bottom: 20px;
}

.subscribe, .connexion, .formulaireContact, .contactPro{
    cursor: pointer;
}





/*--------------- CONTACT -----------------------*/

.button_devis{
	margin-top: 10px !important;
	height: 20px;
}

/*--------------- FOOTER -----------------------*/

.footer_section{
	border-top: 4px #FCB42F double;
	height: 30px;
	padding: 6px;
}

.footer_subtitle{
	justify-content: space-around;
}




/*-------------------------------------------------------------*/
/*--------------------------- RESPONSIVE ------------------------------------*/



/*------------ ECRAN PLUS PETIT QUE <1224px ------------------------------------*/


@media screen and (min-width: 1120px) and (max-width: 1240px){
  nav{
    margin : 15px 10px 0 200px;
  }
	.btn_eatCode{
		width: 100%;
		margin: auto;
		height: 30px;
		font-size: 0.9em;
		padding: 0;
	}

	.card_content_contact{
		font-size: 0.8em;
	}
}



/*------------ ECRAN PLUS PETIT QUE <1120px ------------------------------------*/


@media screen and (max-width:1120px){

	.section_colored{
		height: 80%;
	}

	.section_center_responsive {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
	}
    
    
  /*------------ HEADER ------------------*/
  nav{
    display: none;
  }
    
.nav_space{
    margin-left:0;
}

  .i_header{
    display: inline;
  }

  .header_title{
    margin-top: 120px;
    font-size: 1.9em;
    font-weight: bold;
  }

  .header_subtitle{
    margin-top: 180px;
    font-size: 0.9em;
   }

  .header_selector{
  margin-top: 210px;
  display: table-cell;
  align-items: center;
	}

  .inputSelector{
    margin-bottom: 10px;
    height: 35px;
  }

  .buttonSearch{
    height: 35px;
  }

  .header_content{
    margin-top: 185px;
    margin-left: 40px;
    font-size: 1em;
    }

  .button_header_pages{
    height: 35px;
    padding: 3px 50px;
    }

  .big{
        font-size: 1.3em;
    }

	.claim_font_size{
		font-size: 1.7em;
	}


	/*------------ SECTION PROFILES ----------*/
	.btn_eatCode{
		width: 100%;
		margin: auto;
		height: 30px;
		font-size: 0.9em;
		padding: 0;
	}
	.button_section{
		position: absolute;
		left: 25px;
		margin-top: 45px;
		margin-left: -9px;
	}

	.title_section{
		width: 100%;
		font-size: 1.9em;
	}
    
    .lh-22{
        line-height: 22px;
    }


	/*------------ SECTION AVANTAGES --------*/

	.card_benefits{
		padding-top: 40px;
		padding-bottom: 0;
	}

	/*------------ SECTION ETAPES-------------*/
	.card_number{
		display: inline-flex;
	}



	/*------------ SECTION CONTACT-------------*/

	.card_content_contact{
		font-size: 0.8em;
	}

	.card_half_place{
		width: 50%;
	}

	.button_devis{
		height: 30px;
		font-size: 0.8em;
	}

	.i_hidden{
		display: none;
		width: 0%
	}

	/*------------ FOOTER-------------*/
	.footer_subtitle{
		font-size: 0.8em;
	}
    
}


/*------------ ECRAN TABLETTE <768px ----------------------------*/


@media screen and (max-width:768px){

	.section_center_responsive{
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
	}

	.align_content_center_responsive{
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
		line-height: 20px;
	}
    

/*------------ FONT --------*/
    
    .big{
        font-size : 1.1em;
    }
    
/*------------ HEADER --------*/


	.claim_font_size{
		font-size: 1.4em;
	}
    
   	.claim_texte_spaced{
		line-height: 30px;
	}
    
     .header_selector{
        margin-top: 230px;
    }
/*------------ MODAL --------*/

     .modal_box{
        width: 100%;
        margin-bottom: 40px;
    }
    
    .modal_fixed{
        padding-left: 0!important;
        padding-right: 0!important;
    }
    
    .modal_title{
        font-size: 1.1em;
    }
    
    .modal_subtitle{
        font-size: 0.8em;
    }
    
    .modal_button{
        padding: 0px 5px;
    }
    
    .modal_textarea{
        width: 50%;
        border-radius: 6px;        
    }

/*------------ SECTION AVANTAGES --------*/
	.section_colored{
		height: 80%;
	}

	.button_recruteur{
		padding-top: 30px;
		margin-left: -6px;
	}

	

/*------------ SECTION ETAPES ----------*/

	.card_number{
	display: inline-flex;
	}

/*------------ SECTION PRESSE ----------*/

	.card_presse{
		height: 100%;
	}

/*------------ SECTION CONTACT ----------*/

	.card_content_contact{
		padding: 5px 17px;
		font-size: 0.6em;
	}

	.button_devis{
		margin-top: -5px !important;
		box-shadow: none!important;
		width: 80%;
		height: 20px;
	}

	.card_content_address{
		padding-left: 0px;
		padding-right: 0px;
		margin-right: 30px;
		width: 100%;
	}

	.card_half_place{
		width: 50%!important;
	}

	.i_social{
		margin : 2px 0;
		font-size: 0.9em!important;
	}

	.margin_center{
		margin: auto;
	}

/*------------ FOOTER ----------*/

	.footer_subtitle{
		font-size: 0.7em;
	}

	.responsive_white{
		color: #F7F9F9;
	}

	.footer_section{
		height: 100%;
	}
}

/*------------ ECRAN MOBILE <425px ------------------------------------*/


@media screen and (max-width:425px){
	
    
 /*------------ SECTION ----------*/
    
    .header_content{
        width: 100%;
        margin-left:10px;
        margin-top: 200px;
    }
    
    .header_selector{
        margin-top: 170px;
    }
    
    .claim_join{
        width: 80%
    }
    
    .bloc_row{
        height:120px;
    }
/*------------ BORDURE ----------*/

    .underline_yellow_title{
        border-bottom: 2px #FCB42F solid;
    }
    
/*------------ TITRE / TEXTE ----------*/   
 
    h2{
		font-size: 0.8em;
	}
    
    .big{
        font-size:1.2em;
    }
    
    .header_title{
        margin-top: 100px;
        line-height: 42px;
    }
    
    .title_section_out{
	  padding-bottom: 30px;
	}

    
    .little_font{
        font-size: 0.9em;
    }
    
    .menu_metiers{
        font-size: 0.9em;
        margin: 15px 0 0 25px; 
    }
    
    .list_header{
        margin-left: 0;
        padding: 0;
        font-size: 0.73em!important;
    }
    
    .cta_subtitle{
        line-height: 17px;
        font-size: 0.8em;
        padding-top: 18px;
    }
    
 /*------------ CARD ----------*/ 
    .card_number p{
        text-align: left;
    }
    
    .card_content_contact{
        padding: 5px 0px;
    }
/*------------ BOUTON ----------*/   

    .button_cadenas{ 
    padding: 2px 20px;
    font-size: 0.7em;
    line-height: 13px;
    }
    
    .button_join{
        font-size: 0.8em;
        padding: 0 15px;
        margin-top: 0; 
    }
    
    .button_section_out{
		margin-top: 70px;
		margin-left: -9px;
	}
    
    .button_header_pages{
        margin-top:50px;
        margin-left: 10px;
    }
    
    .button_freelance{
        margin-right: 0!important;
        margin-bottom: 30px;
        padding: 9px 72px;
    }

 /*------------ IMAGE / ICONE ----------*/   

    .number_argile, .number_yellow{
        margin-left: -5px;
        padding:3.5px;
        width: 30px;
        height: 30px;
    }
    
 /*------------ IMAGE / ICONE ----------*/   
   
    .column_responsive{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
 /*------------ MARGIN / PADDING ----------*/
    .pt-0{
        padding-top: 0;
    }
    
    .pb-0{
        padding-bottom: 0;
    }
    
    .no-bb{
        border : 0;
    }
    
    .mt-0{
        margin-top: 0;
    }
    
    .mt-20{
        margin-top: 20px;
    }
    
    .mb-0{
        margin-bottom: 0!important;
    }
    
    .margin_prospace_header{
        margin-top: 166px;
        margin-left: 40px!important;
    }
    

}

/*------------ ECRAN MOBILE <375px ------------------------------------*/
    @media screen and (max-width:375px){
        
        .pb-30{
        padding-bottom: 30px;
        }

}
/*------------ ECRAN MOBILE <320px ------------------------------------*/


@media screen and (max-width:320px){
    
     /*------------ TITRE / TEXTE ----------*/   

        
    h1{
        font-size: 1.5em;
    }
    
    h2{
		font-size: 0.67em;
	}
    
    .header_title{
        margin-top: 100px;
        line-height: 42px;
    }
    
    .menu_metiers{
        font-size: 0.8em;
        margin: 7px 0 0 20px; 
    }
    
    .card_content_address{
        margin-left:10px;
    }
    
    .card_content_contact{
        font-size: 0.5em;
    }
    
    .text_mission{
        padding-top: 45px!important;
        font-size: 0.9em;
    }
    
    .middle_font{
        font-size: 1.1em;
    }
    
    .list_header{
        font-size: 0.6em!important;
        padding: 6px;
    }
    
    .figures{
        font-size: 0.7em;
    }
    
    .title_section{
        font-size:1.7em;
    }
    
    .inputSelector{
        font-size: 0.88em;
    }
    
     /*------------ IMAGE / ICONE ----------*/   

    .logo{
        width:18px;
    }
    
    .i_header{
        font-size: 1.1em;
    }
    
    /*------------ BOUTON ----------*/   
    .button_cadenas{ 
    padding: 2px 0;
    
    
}